.Wrapper {
    font-size: 80%;
    padding-block: 0.25rem;
}

.Label {
    padding-inline-start: 0.25rem;
    font-weight: 500;
    color: black;
}

.Container {
    padding-block-start: 0.25rem;
}

.Input {
    display: flex;
    border: 1px solid #4285F4;
    border-radius: 3px;
    padding-inline-start: 0.25rem;
    padding-block: 0.3rem 0.15rem;
    width: 100%;
    font-weight: 400;
    background-color: #EDF5FF;
    color: #004B89;
}