.FormContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 0.85rem;
    padding-block: 0.75rem;
    gap: 0.1rem;
}

.Hider {
    display: none;
}

.InputWrapper {
    font-size: 80%;
    padding-block: 0.25rem;
}

.Label {
    padding-inline-start: 0.25rem;
    font-weight: 500;
    color: black;
}

.InputContainer {
    padding-block-start: 0.25rem;
}

.Input {
    display: flex;
    border: 1px solid #4285F4;
    border-radius: 3px;
    padding-inline-start: 0.25rem;
    padding-block: 0.3rem 0.15rem;
    width: 100%;
    font-weight: 400;
    background-color: #EDF5FF;
    color: #004B89;
}

.BtnContainer {
    align-self: center;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

.SubmitBtn {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-color: #0F9D58;
    color: white;
    border: none;
    border-radius: 3px;
    padding-block-start: 0.5rem;
    padding-block-end: 0.35rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.SubmitBtn:disabled {
    /* background-color: #EB4639; */
    background-color: #004B89;
    opacity: 0.5;
}

.TickWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Tick {
    max-height: 200px;
    padding-block: 2rem;
}